body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;

}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-24 {
  font-size: 24px;
}
.container {
display: flex;
flex-direction: row;
max-width: 1300px;
width: 90%;
padding: 20px;
margin: 0 auto; 
padding-bottom: 10px;
}
.back-to-home{
display: block;
margin-top: 20px;
margin-bottom: 20px;
max-width: 150px;
margin: 0;
text-decoration: none;
}
.header {
display: flex;
justify-content: space-between;
align-items: center;
height: 70px;
padding: 15px 20px;
background-color: #111;
font-size: 16px;
}
.user-container{
display: flex;
}
.shopping-cart{
position: relative;
top: 1px;
}
.cart-icon  {
margin-top: 10px;
margin-bottom: 40px;
color: white;
font-size: 26px;
text-decoration: none;
transition: color 0.3s ease;
position: relative;
z-index: 1;
}
.cart-link{
cursor: pointer;
}
.cart-counter{
width: 18px;
height: 18px;
border-radius: 100%;
background-color: red;
color: black;
position: absolute;
top: 0px;
left: 14px;
text-align: center;
z-index: 10;
display: none;
}
.counter-text{
position: relative;
font-size: 12px;
z-index: 15;
color: white;
top: -11px;
left: 6px;
}
.menu-icon {
display: flex;
flex-direction: column;
gap: 4px;
cursor: pointer;
}
.menu-icon span {
display: block;
width: 25px;
height: 2px;
background-color: white;
transition: background-color 0.3s ease;
}
.menu-icon:hover span {
background-color: #ccc;
}
.logo img {
height: auto;
max-width: 100%;
margin-left: 70px;
max-width: 270px;
}
.navbar {
display: flex;
gap: 15px;
}
.navbar a {
text-decoration: none;
color: #fff;
font-size: 16px;
font-weight: bold;
}
.user-container {
position: relative;
top: 5px;
}
.user-icon {
cursor: pointer;
transition: filter 0.3s ease;
}
.user-icon i {
margin-top: 10px;
margin-bottom: 40px;
color: white;
font-size: 26px;
text-decoration: none;
transition: color 0.3s ease;
position: relative;
z-index: 1;
margin-right: 20px;
}
.user-icon:hover {
filter: brightness(1.5);
}
.user-text {
position: absolute;
bottom: 17px;
left: 12px;
transform: translateX(-50%);
font-size: 12px;
color: white;
opacity: 1;
transition: opacity 0.3s ease;
}
.user-icon:hover+.user-text {
opacity: 1;
}

.overzicht-container {
display: flex;
flex-direction: row;
max-width: 1300px;
width: 90%;
padding: 20px;
margin: 0 auto; 
}

/* Sidebar goed positioneren */
.sidebar {
flex: 0 0 300px; 
background-color: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Main-content naast de sidebar houden */
.main-content {
flex-grow: 1; 
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
align-items: flex-start;
max-width: calc(100% - 320px);
margin-left: 20px;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.filter-group {
  margin-bottom: 15px;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
}

.filter-group select,
.filter-group input[type="range"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-group input[type="range"] {
  width: 95%;
}

.filter-group output {
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

.car-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 890px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.car-card img {
  width: 45%;
  height: auto;
}

.car-details {
  width: 55%;
  padding: 20px;
}

.car-details h3 {
  margin-top: 0;
  font-size: 1.4em;
}

.car-details h4 {
  margin-top: 30px;
  font-size: 1.4em;
}



.car-details p {
  font-size: 20px;
  margin: 5px 0;
  color: #555;
}


.button-container {
display: flex;
gap: 10px;
margin-top: 10px;
}

.btn {
padding: 12px 16px;
font-size: 14px;
font-weight: bold;
border-radius: 4px;
cursor: pointer;
transition: all 0.3s ease;
}

.btn-primary {
background-color: black;
color: white;
border: none;
}

.btn-primary:hover {
background-color: #333;
}

.btn-outline {
background-color: transparent;
color: black;
border: 2px solid black;
}

.btn-outline:hover {
background-color: black;
color: white;
}



.footer {
  margin-top: 80px;
  display: block;
  background-color: black;
  padding: 0px;
}

h2 {
  margin-bottom: 15px;
  display: flex; 
  align-items: center; 
  gap: 10px; 
}

.porsche-tekst-footer {
  font-size: 15px;
  margin-left: 0px;
  background: #000;
  color: white;
  padding: 40px;
}
.newsletter-container{
  flex-direction: row;
  display: flex;
}
.tekst-footer {
  margin-right: 100px;
  font-size: 15px;
  margin-bottom: 30px;
  background: #000;
  color: white;
}

.button-footer {
  text-decoration: none;
  border: none;
  padding: 15px 50px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease;
}

.button-footer:hover {
  background-color: #e0e0e0; 
  color: #000; 
}

.Flag {
  display: flex; 
  align-items: center; 
  gap: 10px; 
}

.Flag img {
  width: 30px; 
  height: auto; 
}

.midden-footer {
  margin-top: 50px;
}


.social-media {
  margin-top: 30px;
  background-color: #000;
  color: white;
}

.social-media h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.social-media .tekst-footer {
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  gap: 30px;
}

.social-icons a {
  margin-top: 10px;
  margin-bottom: 40px;
  color: white;
  font-size: 50px;
  text-decoration: none;
  transition: color 0.3s ease;
}
  
.bedrijf {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  margin-top: 20px;
}

.bedrijf-item {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
}

.footer-bottom {
  border-top: 1px solid gray;
  padding: 0px 15px;
  background-color: black;
  color: white;
  font-size: 14px;
  text-align: left;
  line-height: 1.6;
  margin-top: 80px;
}

.footer-bottom a {
  color: white;
  text-decoration: underline;
  cursor: pointer; 
  transition: color 0.3s ease;
}

.footer-bottom a:hover {
  color: grey;           
}

.footer-bottom p {
  margin-top: 50px;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.footer-logo img {
  width: 200px;
  height: auto;
}


@media (max-width: 1024px) {
.overzicht-container {
    flex-direction: column; 
    align-items: center;
}

.sidebar {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.main-content {
    max-width: 100%;
    margin-left: 0;
}
}

@media (max-width: 768px) {
.car-card {
    flex-direction: column;
    width: 100%;
}

.car-card img {
    width: 100%;
}

.car-details {
    width: 100%;
    padding: 15px;
}

.logo img {
    height: auto;
    max-width: 100%;
    margin-left: 35px;
    width: 178px;
}

.user-container {
    position: relative;
    top: 12px;
}

.user-icon i {
    font-size: 20px;
}

.cart-icon {
    font-size: 20px;
}

.overzicht-container {
    width: 90%;
}
.newsletter-container{
  flex-direction: column;
  display: flex;
}
}